. {
  margin: 0px;
  padding: 0px;
}

button {
  border: none;
  border-radius: 0px;
}

input,
select {
  width: 100%;
}

/* form styling */
.form-container {
  display: flex;
  justify-content: space-between;
  margin: 50px auto;
}

#toggle-form {
  width: 40%;
}

#form-nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.form-nav-income-border {
  border-bottom: 3px solid #fecc06;
}

.form-nav-expense-border {
  border-bottom: 3px solid #0a136a;
}

.form-nav-transfer-border {
  border-bottom: 3px solid #657c2a;
}

.form-nav-item {
  margin-bottom: 0px;
}

/* income form styling */
.income-form-style {
  display: flex;
  justify-content: center;
  padding-top: 10px;
  color: #fecc06;
}

#income-form {
  width: 100%;
}

#income-form input,
#income-form select {
  border: 1px solid #fecc06;
}

input[type="date"] {
  height: 35px;
  width: 99.3%;
  border-radius: 4px;
}

#show-income-form-btn,
#income-save {
  color: #ffffff;
  background: #fecc06;
}

#income-save {
  border-radius: 4px;
}

/* expense form styling */
.expense-form-style {
  display: flex;
  justify-content: center;
  color: #0a136a;
}

#exp-form {
  width: 100%;
}

#show-expense-form-btn {
  color: #0a136a;
}

#exp-save {
  background-color: #0a136a;
  color: #ffffff;
  border-radius: 4px;
}

#exp-form input,
#exp-form select {
  border: 1px solid #0a136a;
}

/* transfer form styling */
.transfer-form-style {
  display: flex;
  justify-content: center;
  color: #657c2a;
}

#transfer-form {
  width: 100%;
}

#show-transfer-form-btn {
  color: #657c2a;
}

#transfer-save {
  background-color: #657c2a;
  color: #ffffff;
  border-radius: 4px;
}

#transfer-form input,
#transfer-form select {
  border: 1px solid #657c2a;
}

/* summary styling */
#summary {
  width: 40%;
}

.summary-row {
  display: flex;
  justify-content: space-between;
}

h3 {
  color: #f6a204;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

h5 {
  color: #0a136a;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

h6,
.total-bold {
  font-weight: 900;
  color: #fecc06;
  font-family: Arial, Helvetica, sans-serif;
}

/* function css */
#exp-form,
#transfer-form {
  display: none;
}
